Repository dosbox-staging/dosbox-staging, pull requests merged in 2022-10, with the labels that each got.

#1982 Update Polish (pl) translation
  contrib/resources/translations/encode.sh
  contrib/resources/translations/pl.cp437.CP437.lng
  contrib/resources/translations/pl.cp437.lng
  contrib/resources/translations/pl.lng
  contrib/resources/translations/utf-8/pl.txt
Labels: translation

#1984 Switch messages in MSG_Add from code page 437 to UTF-8
  contrib/resources/translations/en.lng
  contrib/resources/translations/encode.sh
  contrib/resources/translations/pl.cp437.lng
  contrib/resources/translations/utf-8/en.txt
  src/dos/program_intro.cpp
  src/misc/messages.cpp
  src/shell/shell.cpp
Labels: enhancement, translation

#1991 Change 'config -wc' to write UTF-8 file
  include/dosbox.h
  include/setup.h
  src/misc/messages.cpp
  src/misc/setup.cpp
  tests/stubs.cpp
Labels: bug

#1996 Add direct support for Windows 3.1 seamless mouse driver by javispedro
  src/ints/mouse_dos_driver.cpp
Labels: enhancement

#1998 Fix several English strings too long to fit on screen
  src/dosbox.cpp
  src/gui/sdlmain.cpp
  src/hardware/mixer.cpp
Labels: bug

#2005 Update Italian (it-it) translation
  contrib/resources/translations/it.lng
  contrib/resources/translations/utf-8/it.txt
Labels: translation

#2007 Minor Dutch translation updates
  contrib/resources/translations/nl.lng
Labels: translation

#2012 Update Polish (pl) translation, change ANSI escape codes to tags
  contrib/resources/translations/pl.lng
  contrib/resources/translations/utf-8/pl.txt
Labels: translation

#2011 Adapt 'update-sources.sh' script to UTF-8 locale
  contrib/resources/translations/update-sources.sh
Labels: bug, translation

#2013 Fixed some ANSI escape codes in the Italian translation
  contrib/resources/translations/it.lng
  contrib/resources/translations/utf-8/it.txt
Labels: translation

#2010 Fixup nl.txt to match nl.lng
  contrib/resources/translations/utf-8/nl.txt
Labels: translation

#2016 Various Dutch translation updates
  contrib/resources/translations/nl.lng
  contrib/resources/translations/utf-8/nl.txt
Labels: translation

#2032 Translate new message
  contrib/resources/translations/nl.lng
  contrib/resources/translations/utf-8/nl.txt
Labels: translation

#2034 Fix bitwise shift of negative in DOS date pack call
  include/dos_inc.h
Labels: bug

#2036 Add release drafter support files
  .github/release-drafter.yml
  .github/workflows/draft-release-notes.yml
Labels: documentation, plumbing

#2037 Contribute a script to convert from YouTube chapters to CD-DA
  contrib/scripts/yt-chapters-to-cdda.sh
Labels: enhancement, external, PR: unreviewed

#2041 Update Italian (it-it) translation
  contrib/resources/translations/it.lng
  contrib/resources/translations/utf-8/it.txt
Labels: translation, PR: unreviewed

#2042 Add Dutch tranlation of MOUSECTL
  contrib/resources/translations/nl.lng
  contrib/resources/translations/utf-8/nl.txt
Labels: PR: reviewed-approved

#2020 Implement MORE.COM command
  src/dos/dos_programs.cpp
  src/dos/meson.build
  src/dos/program_more.cpp
  src/dos/program_more.h
  vs/dosbox.vcxproj
  vs/dosbox.vcxproj.filters
Labels: enhancement, PR: unreviewed, PR: reviewed-changes-requested

#2048 Add Dutch translation of MORE
  contrib/resources/translations/nl.lng
  contrib/resources/translations/utf-8/nl.txt
Labels: PR: reviewed-approved

#2055 Update Italian (it-it) translation
  contrib/resources/translations/it.lng
  contrib/resources/translations/utf-8/it.txt
Labels: translation, PR: unreviewed, PR: reviewed-approved

#2058 Delete obsolete translated msgs
  contrib/resources/translations/es.lng
  contrib/resources/translations/fr.lng
  contrib/resources/translations/pl.lng
  contrib/resources/translations/ru.lng
  contrib/resources/translations/utf-8/es.txt
  contrib/resources/translations/utf-8/fr.txt
  contrib/resources/translations/utf-8/pl.txt
  contrib/resources/translations/utf-8/ru.txt
Labels: PR: reviewed-approved
