Repository dosbox-staging/dosbox-staging, pull requests merged in 2024-08, with the labels that each got.

#3853 `MODE` command fixes & improvements
  src/dos/program_mode.cpp
Labels: enhancement, DOS

#3856 Update SDL wrap to 2.30.6
  subprojects/sdl2.wrap
Labels: upstream sync

#3854 Centralize app_id handling (continuation)
  .github/workflows/linting.yml
  contrib/icons/Makefile
  contrib/icons/meson.build
  contrib/linux/install-icons.sh
  contrib/linux/meson.build
  contrib/linux/org.dosbox-staging.dosbox-staging.desktop
  contrib/linux/org.dosbox-staging.dosbox-staging.metainfo.xml
  include/dosbox.h
  scripts/create-package.sh
  scripts/update-copyright-date.sh
  src/gui/sdlmain.cpp
Labels: Linux, packaging, build system

#3862 Improve the GUS config setting descriptions
  src/hardware/gus.cpp
Labels: documentation

#3863 Fix `IMGMOUNT` command error message
  contrib/resources/translations/br.lng
  contrib/resources/translations/en.lng
  contrib/resources/translations/es.lng
  src/dos/program_imgmount.cpp
Labels: documentation, DOS

#3866 Minor fix to x87 64-bit memcpy
  src/fpu/fpu_instructions.h
Labels: CPU/FPU emulation

#3867 Improve `tiny` reverb preset for small-speaker emulation
  src/hardware/mixer.cpp
Labels: enhancement, audio

#3870 Update Polish (pl) translation
  contrib/resources/translations/pl.lng
Labels: translation

#3873 Fix shell redirection for appending to the end of a file
  src/shell/shell.cpp
Labels: regression, DOS

#3871 Update Italian (it) translation
  contrib/resources/translations/it.lng
Labels: translation

#3874 Update Dutch (nl) translation
  contrib/resources/translations/nl.lng
Labels: translation

#3880 Further refinements to the Italian (it) translation
  contrib/resources/translations/it.lng
Labels: translation

#3888 Update German (de) translation
  contrib/resources/translations/de.lng
Labels: translation

#3896 [post-0.82.0] Fix mouse support in Descent II with a Voodoo patch
  src/hardware/input/mouseif_dos_driver.cpp
Labels: bug, game compatibility, input handling

#3903 Revert "Fix mouse support in Descent II with a Voodoo patch"
  src/hardware/input/mouseif_dos_driver.cpp
Labels: input handling

#3897 Include DEBUG.COM license in the packages
  meson.build
  scripts/create-package.sh
Labels: licensing
