Repository dosbox-staging/dosbox-staging, pull requests merged in 2025-04, with the labels that each got.

#4266 Fix translation for keyb cmd
  contrib/resources/translations/nl.lng
Labels: translation

#4271 Fix GUS Mix Control Register not getting reset to the correct value
  src/hardware/gus.cpp
  src/hardware/gus.h
Labels: regression, audio

#4283 Don't set host permissions for read-only directories on POSIX
  src/misc/fs_utils_posix.cpp
Labels: bug, backport, DOS

#4285 Update bundled FreeDOS xcopy.exe to version 1.9a
  contrib/resources/drives/y/dos/xcopy.exe
Labels: backport, upstream sync, DOS

#4286 Revert "Normalise build workflow names & deprecate non-CMake Windows and macOS builds"
  .github/workflows/config.yml
  .github/workflows/linux.yml
  .github/workflows/macos-cmake.yml
  .github/workflows/macos-meson.yml
  .github/workflows/macos.yml
  .github/workflows/windows-msvc.yml
  .github/workflows/windows-msys2.yml
Labels: CI

#4293 Remove wrong assertion in the keyboard autodetection code
  src/dos/dos_locale.cpp
Labels: bug, regression, input handling

#4287 Establish clear boundaries on what Staging releases we support
  .github/ISSUE_TEMPLATE/bug_report.yml
  website/docs/releases/linux.md
  website/docs/releases/macos.md
Labels: website

#4297 On Windows, clear the read-only attribute before removing a directory.
  include/fs_utils.h
  src/dos/drive_local.cpp
  src/misc/fs_utils_posix.cpp
  src/misc/fs_utils_win32.cpp
Labels: bug, backport, DOS
